.cloth-pic {
  position: relative;
  width: 100%;
}
.cloth-text {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
}
.cloth-text-span {
  color: rgb(247, 247, 247);
  font: bold 30px/55px Helvetica, Sans-Serif;

  letter-spacing: 1.5px;
  background: rgb(0, 0, 0); /* fallback color   */
  background: rgba(133, 30, 80, 0.6);
  animation-name: clothTextColor;
  animation-duration: 2s;
  /* animation-delay: 2s; 
  animation-iteration-count: 2;
  animation-direction: alternate; */
  animation-timing-function: linear;
  padding: 10px;
}
.spacer {
  padding: 5px;
  margin: 10px;
}
.spacer2 {
  padding: 8px;
  margin: 10px;
  font-size: 26px;
}
@keyframes clothTextColor {
  from {
    background-color: rgba(0, 0, 0, 0.8);
  }
  to {
    background-color: rgba(133, 30, 80, 0.7);
  }
}
.cloth-text2 {
  position: absolute;
  margin-left: 70vw;
  text-align: center;
  padding: 10px;
  top: 150px;
  font-size: 24px;
  left: 0;
  width: 25vw;
  color: rgb(247, 247, 247);
  background: rgb(0, 0, 0); /* fallback color   */
  background: rgba(133, 30, 80, 0.6);
  line-height: 28px;
  letter-spacing: 0.7px;
  -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
  animation: mymove 3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  0% {
    left: 1500px;
  }
  100% {
    left: 0px;
  }
}

/* Standard syntax */
@keyframes mymove {
  0% {
    left: 1500px;
  }
  100% {
    left: 0px;
  }
}
.parallax {
  /* The image used */
  background-image: url('./pictures/colorful_lights_background.jpg');

  /* Set a specific height */
  height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url('./pictures/tapestry_background.jpg');

  /* Set a specific height */
  height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
