.header {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  height: 15vh;
  width: 100vw;
  color: black;
  background-color: rgb(248, 248, 204);
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  float: top;
  flex-grow: 1;
}
.logo {
  text-decoration: none;
  color: black;
  height: 15vh;
}
.loginButton {
  margin: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 18px;
}
