.homeBackground {
  background-color: #00a8a4;
  width: 100vw;
  height: 85vh;
}
.homepageFirst {
  display: flex;
  flex-direction: row;
}
.homepageSecond {
  display: flex;
  flex-direction: row;
  z-index: 0;
}
p {
  font-size: 16px;
}

.motto2 {
  border: 4px solid rgb(248, 248, 204);
  border-radius: 8px;
  margin: 3vw;
  width: 40vw;
  padding: 10px;
  z-index: 0;
  letter-spacing: 0.1px;
}
.openbook1 {
  width: 50vw;
  margin: 3vw;
  width: 40vw;
  display: flex;
  padding: 5px;
  z-index: 0;
}
#motto {
  width: 40vw;
  border: 4px solid #c63f60;
  border-radius: 8px;
  margin: 3vw;
  padding-top: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  z-index: 0;
}
.homeBackground2 {
  background-color: #c63f60;
}
.motto3 {
  border: 4px solid rgb(248, 248, 204);
  border-radius: 8px;
  margin: 4vw;
  width: 40vw;
  height: 40vh;
  padding: 10px;

  line-height: 20px;
  letter-spacing: 0.3px;
  z-index: 0;
}
.openbook2 {
  height: 60vh;
  margin: 1vw;
  padding-right: 13vw;
  padding-left: 7vw;
  z-index: 0;
}
.homepageBottom {
  display: flex;
  height: 64vh;
}
.smallLogo {
  height: 40px;
  margin: 15px;
}
