.homeBackground2 {
  background-color: #c63f60;
  display: flex;
  justify-content: center;
  text-align: center;
}
#motto {
  width: 40vw;
  border: 4px solid #c63f60;
  border-radius: 8px;
  margin: 3vw;
  padding-top: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  z-index: 0;
}
.mentormotto2 {
  border: 4px solid #f8f8cc;
  border-radius: 8px;
  margin: 3vw;
  width: 40vw;
  padding: 10px;
  letter-spacing: 0.1px;
}
.mentorBottomDiv {
  background-color: #00a8a4;
  padding: 20px;
}
.mail {
  height: 50px;
}
#mentorHeader {
  justify-content: space-around;
}
.linksy {
  text-decoration: none;
  color: black;
}
.dateTime {
  display: flex;
  justify-content: center;
}
.addAppointment {
  padding: 10px;
  border: 2px rgb(252, 252, 203) solid;
  margin: 10px;
  line-height: 3px;
}
.apptButton {
  background-color: rgb(248, 248, 204);
  border-radius: 8px;
  font-size: 12px;
  padding: 5px;
}
input {
  width: 15vw;
}
