.tutorImage {
  position: relative;
  flex-direction: row;
}
.tutoringPic {
  width: 70vw;
  height: 90vh;
}
.tutoringH2 {
  position: absolute;
  background-color: rgb(250, 250, 223);
  top: 10px;
  width: 60%;
  margin-left: 20vw;
  letter-spacing: 2px;
  color: black;
  border: 2px solid white;
}
