.tutorImage {
  position: relative;
  flex-direction: row;
}
.tutoringPic {
  width: 70vw;
  height: 90vh;
}
.tutoringH2 {
  position: absolute;
  top: 10px;
  width: 100%;
  letter-spacing: 2px;
  color: rgb(250, 236, 181);
}
