.myCartMain {
  display: flex;
  flex-direction: column;
}
.myCart {
  height: 10vh;
  justify-content: center;
  align-content: center;
}
.rule {
  width: 100%;
}
.cartPic {
  display: flex;
  justify-content: center;
}
.cartPic1 {
  padding: 20px;
  width: 60vw;
  height: 60vh;
}
.product-img {
  height: 200px;
  width: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
